@charset "utf-8";
/* CSS Document */
body{
	background: #6a2116;
}
#encabezado{
  left: -9px;
  top: 0px;
  width: 1375px;
  height: 123px;
	position: relative;
	z-index: 9999999;
}

.logotipoup{
	position: absolute;
  left: 49px;
  top: 18px;
  width: 117px;
  height: 90px;
  z-index: 23;
}

#menubar{
    position: absolute;
    left: 650px;
    top: 20px;
    width: 778px;
    height: 52px;
}

#menubar ul li{
    display: inline-block;
    color: #FFFFFF;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: 30px;
    text-decoration: none;
    padding-right: 15px;	
}

#menubar ul li a{
    text-decoration: none;
    color: #FFFFFF;	
}
