@charset "utf-8";
/* CSS Document */

body {
    margin: 0;	
}

.encabezado{
	background:url("../IMAGENES/Fondo café.png");
	background-repeat:repeat;
	color: #F2F2F2;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 20px;
}


.encabezado nav ul{
    background: #2D8A09;
	margin: 0;
	padding: 0;
	list-style: none;
    text-align: center;
}

.encabezado h2 {
	margin-bottom: 0;
}

.menubar ul li {
    display: inline-block;
}

.menubar ul li {
    margin-left: -5px;
}

.menubar ul li:first-child{
    margin-left: 0;
}

.menubar ul li a{
    display: block;
	color: white;
	font-size: 25px;
	background: #2D8A09;
	padding:10px;
    text-decoration: none;
}

.menubar ul li a:hover {
    text-decoration: underline;
}

.main img{
	height: 600px;
	margin: auto;
	display: block;
}

.main h5{
	font-size: 30px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color: #A8135E;
	font-display: block;
	text-align: center
}

.mai{
	color: white;
}

.main  h3{
	font-size: 30px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	background: #1319A8;
	color: white;
	text-align: center;
}

.logotipo{
	font-family: "Berlin Sans FB Demi";
	font-size: 50px;
	color: darkblue;
	text-align: center;
}

.logotipo span{
	color: white;
}

#departamentos{
	font-size: 30px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}

#departamentos id h3{
	font-size: 50px;
	text-align: center
}

#departamentos img {
	height: 200px;
	color: white;
}

#jinotega div{
	background-color: #0F8B2A;
	color: white;
}

#peña-cruz div{
	background-color: white;
	color: #492E05;
}


#san-rafael div{
	background-color: #BC0707;
	color: white;
}

#san-rafael img{
	height: 200px;
}

.departamento > div {
    padding: 120px 80px !important;
}

.departamento figure {
    margin: 0;
    padding-right: 15px;
    float: left;
}

#contacto{
	color: white;
	background-color: darkblue;
}

#contacto {
    padding: 120px 80px;
}

#contacto form ul {
    list-style: none;
    padding-left: 0;
}

#contacto form li {
    margin-bottom: 15px;
}

#contacto form label {
    vertical-align: top;
    display: inline-block;
    width: 150px;
}

textarea {
    width: 400px;
    height: 150px;
    resize: none;
}

#contacto form input, #contacto form textarea {
    padding: 8px 12px;
}

.servicio {
    display: inline-block;
    width: 50%;
    margin-left: -5px;
    background-color: #F3C750;
	color: white;
}

.servicio div {
    padding: 10px 20px 10px 20px;
}

.servicio h4{
	font-size: 20px;
	text-align: center;
}

.servicio img{
	height: 40px;
	
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

#servicios h3 {
    margin-top: 0;
    margin-bottom: 0;
}