@charset "utf-8";
/* CSS Document */

body{
	background-color: #FFFFFF;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	margin-left: 500px;
}
#todo{
	margin: 0 auto;
}
.encabezado{
	position: absolute;
  left: -9px;
  top: 0px;
  width: 1375px;
  height: 123px;
}

.logotipoup{
	position: absolute;
  left: 49px;
  top: 18px;
  width: 117px;
  height: 90px;
  z-index: 23;
}

#menubar{
    position: absolute;
    left: 650px;
    top: 20px;
    width: 778px;
    height: 52px;
}

#menubar ul li{
    display: inline-block;
    color: #FFFFFF;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: 30px;
    text-decoration: none;
    padding-right: 15px;	
}

#menubar ul li a{
    text-decoration: none;
    color: #FFFFFF;	
}

/**FIN HEADER**/ 

/**SLIDE**/ 
#informacion{
	font-size: 21px;
  font-family: "Times New Roman";
  color: rgb(0, 0, 0);
  line-height: 1.428;
  text-align: center;
	position: absolute;
  left: 28.937px;
  top: 115px;
  width: 383px;
  height: 619px;
}

#fotohotel{
	position: absolute;
  left: 448px;
  top: 145px;
  width: 909px;
  height: 616px;
}

/**FIN SLIDE**/

/**servicios**/
#fotobar{
	position: absolute;
  left: 25px;
  top: 835px;
  width: 400px;
  height: 265px;
}

.bar h1{
	font-size: 22px;
}

#infobar{
	 font-size: 21px;
  font-family: "Times New Roman";
  color: rgb(90, 10, 16);
  line-height: 1.429;
  text-align: center;
  position: absolute;
  left: 57px;
  top: 1090px;
  width: 314px;
  height: 168px;
}

#restborbon{
	 position: absolute;
  left: 481px;
  top: 834px;
  width: 401px;
  height: 266px;
}

.borbon h2{
	font-size: 22px;
}

#infoborbon{
	font-size: 21px;
  font-family: "Times New Roman";
  color: rgb(90, 10, 16);
  line-height: 1.429;
  text-align: center;
  position: absolute;
  left: 514.5px;
  top: 1086px;
  width: 333px;
  height: 202px;
}

#fotosalon{
	position: absolute;
  left: 938px;
  top: 831px;
  width: 404px;
  height: 269px;
}

.salon h3{
	font-size: 22px;
}

#infosaloneventos{
	 font-size: 21px;
  font-family: "Times New Roman";
  color: rgb(90, 10, 16);
  line-height: 1.429;
  text-align: center;
  position: absolute;
  left: 975.06px;
  top: 1080px;
  width: 325px;
  height: 172px;
}

/**footer**/

#rectangulodown{
	 position: absolute;
  left: 0px;
  top: 1416px;
  width: 1369px;
  height: 120px;
}

#logodown{
	position: absolute;
  left: 81px;
  top: 1436px;
  width: 109px;
  height: 81px;
}

#infofooter{
	font-size: 21px;
  font-family: "Times New Roman";
  color: rgb(255, 255, 255);
  line-height: 1.429;
  text-align: center;
	position: absolute;
  left: 287.25px;
  top: 1400px;
  width: 646.5px;
  height: 45px;
}

#facebook{
	 position: absolute;
  left: 1179px;
  top: 1449px;
  width: 56px;
  height: 55px;
}

#gmail{
	 position: absolute;
  left: 1257px;
  top: 1449px;
  width: 69px;
  height: 55px;
}