@charset "utf-8";
/* CSS Document */

.encabezado{
	position: absolute;
  left: -9px;
  top: 0px;
  width: 1375px;
  height: 123px;
}

.logotipoup{
	position: absolute;
  left: 49px;
  top: 18px;
  width: 117px;
  height: 90px;
  z-index: 23;
}

#menubar{
    position: absolute;
    left: 650px;
    top: 20px;
    width: 778px;
    height: 52px;
}

#menubar ul li{
    display: inline-block;
    color: #FFFFFF;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: 30px;
    text-decoration: none;
    padding-right: 15px;	
}

#menubar ul li a{
    text-decoration: none;
    color: #FFFFFF;	
}

/**contenido**/

.habitaciones h1{
	font-size: 48px;
  font-family: "Times New Roman";
  color: rgb(106, 33, 22);
  line-height: 0.75;
  text-align: center;
  position: absolute;
  left: 495px;
  top: 115px;
  width: 348px;
  height: 34px;
}
	
#habindividual{
	 position: absolute;
  left: 10px;
  top: 214px;
  width: 261px;
  height: 143px;
}

#infoindividual h2{
	font-size: 21px;
}
#infoindividual{
	font-size: 21px;
  font-family: "Times New Roman";
  color: rgb(106, 33, 22);
  line-height: 1.429;
  text-align: center;
	position: absolute;
  left: 10px;
  top: 396.184px;
  width: 196.62px;
  height: 232px;
}

#habdoble{
	 position: absolute;
  left: 280px;
  top: 214px;
  width: 261px;
  height: 143px;
}

#infodoble h3{
	font-size: 21px;
}
#infodoble{
    font-size: 21px;
    font-family: "Times New Roman";
    color: rgb(106, 33, 22);
    line-height: 1.429;
    text-align: center;
    position: absolute;
    left: 312px;
    top: 391.184px;
    width: 203.154px;
    height: 262px;
}

#habmatrimonial{
	 position: absolute;
  left: 551px;
  top: 213px;
  width: 262px;
  height: 143px;
}

#infomatrimonial h4{
	font-size: 21px;
}

#infomatrimonial{
    font-size: 21px;
    font-family: "Times New Roman";
    color: rgb(106, 33, 22);
    line-height: 1.429;
    text-align: center;
    position: absolute;
    left: 589px;
    top: 380.184px;
    width: 196.62px;
    height: 262px;
}

#habtriple{
	position: absolute;
  left: 823px;
  top: 212px;
  width: 262px;
  height: 144px;
}

#infotriple h5{
	font-size: 21px;
}

#infotriple{
    font-size: 21px;
    font-family: "Times New Roman";
    color: rgb(106, 33, 22);
    line-height: 1.429;
    text-align: center;
    position: absolute;
    left: 859px;
    top: 374px;
    width: 196.62px;
    height: 292px;
}

#juniorsuite{
	position: absolute;
  left: 1094px;
  top: 212px;
  width: 262px;
  height: 144px;
}

#infojunior h6{
	font-size: 21px;
}

#infojunior{
    font-size: 21px;
    font-family: "Times New Roman";
    color: rgb(106, 33, 22);
    line-height: 1.429;
    text-align: center;
    position: absolute;
    left: 1131px;
    top: 357px;
    width: 196.62px;
    height: 318px;
}
